@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

a {
    text-decoration: none;
    font-family: "Press Start 2p";
    color: #ffff;
}


.logoImg {
    width: 150px;
}

